body {
background: red;
font-family: Arial, Helvetica, sans-seirf;
}
h1 {
color: black;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: grey;
}
.assign img {
width: 200px;
padding: 10px;
}
